<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset=utf-8>
    <meta name=description content=" Choose or build your dream car. Purchase new and second hand cars, have them delivered to you. Special offers for leasing and full customization package.">
  </head>
  <body>




  <nav class="nav-extended grey darken-4" style="font-weight: bold;">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
       <h5 class="bourgeois" style="font-size: 32px; margin-left: 1em;">House <span style="font-size: 18px;">of</span> Cars</h5>

        <!-- <img src="/img_assets/logo-hoc.png" alt=""> -->
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger grey-text"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/commission"  class="grey-text text-lighten-2"><i class="grey-text text-lighten-2 material-icons left">lens</i>Order Now</a></li>
        <li><a href="/services"  class="grey-text text-lighten-2"><i class="material-icons grey-text text-lighten-2 left">directions_car</i>Services</a></li>
        <li><a href="about-us" class="grey-text text-lighten-2"><i class="material-icons text-lighten-1 left">info</i>About</a></li>
        <li><a href="/contact"  class="grey-text text-lighten-2"><i class="material-icons grey-text text-lighten-2 left">contact_mail</i>Contact</a></li>
        <button id="romanian" class="btn grey-text transparent white-text btn-small waves-effect waves-light" style="margin-top: -3px; margin-right: 6px;">ro</button>
        <button id="english" class="btn grey-text transparent white-text btn-small waves-effect waves-light" style="margin-top: -3px; margin-right: 6px;">en</button>


      </ul>
    </div>
  </nav>

  <ul class="sidenav transparent" id="mobile-demo">
    <li><a href="/commission"  class="white-text"><i class="material-icons white-text">lens</i>Commission</a></li>
<hr>
    <li><a href="/services"  class="white-text"><i class="material-icons white-text">directions_car</i>Services</a></li>
<hr>
    <li><a href="about-us" class="white-text"><i class="material-icons white-text">info</i>About</a></li>
        <hr>

        <li><a href="/contact"  class="white-text"><i class="material-icons white-text">contact_mail</i>Contact</a></li>
  </ul>
