
<div class="container">
  <div class="row">
    <div class="col s4">
      <div class="center">
        <a href="https://www.instagram.com/houseofcarsro/" title="Instagram" target="_blank">
        <i class="material-icons black-text">camera_alt</i>
          
        </a>
      </div>
    </div>

        <div class="col s4">
      <div class="center">
                <a href="https://www.facebook.com/HouseofCarsRO/" title="Facebook" target="_blank">
        <p class="black-text" style="font-weight: bolder; margin-top: -4px; font-size: 20px;">f</p>
                  
                </a>
      </div>
    </div>

    <div class="col s4">
      <div class="center">
                <a href="https://www.instagram.com/houseofcarsro/" title="LinkedIn" target="_blank">
        <p class="black-text" style="font-weight: bolder; margin-top: -4px; font-size: 20px;">in</p>
                  
                </a>
      </div>
    </div>


  </div>


</div>
  