<div class="center">


  <div class="clearfix" style="height:0.4em;">
    
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal transparent">
    <div class="modal-content">
      <div class="center">
        <h4 class="white-text  grey-text text-lighten-2 flow-text">Termeni si Conditii <br><br>
      <i class="material-icons">warning</i> 
        </h4>
          <p class="flow-text grey-text text-lighten-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
 
    </div>
    <div class="modal-footer transparent">
      <div class="center">
      <a href="#!" class=" grey-text text-lighten-2 modal-close waves-effect waves-green btn-flat white-text">
      <i class="material-icons">verified_user</i>
      <button class="btn grey darken-2 z-depth-2 grey-text text-lighten-1" style="font-weight: bolder; margin-top: -6px;
margin-left: 1em;
      ">
      Sunt de acord cu termenii de mai sus.</button>
      </a>
        
      </div>
    </div>
  </div>
</div>