<% include ./partials/header.ejs %>

<div class="container">
	<div class="center">
<br>
	<h4 class="grey-text text-darken-1">

House of Cars is an automotive acquisition and consultancy company based in Cluj-Napoca.	</h4>
	<br>
	<h6  class="grey-text" style="line-height: 24px; font-weight: bold;">
		We provide bespoke 
		<a href="/services" title="">services,</a>
		
		 working together with our clients to meet their needs and requests. Because of this we provide a growing list of services, ranging from simple search requests to financing options both for companies and private clients. 
		<br>
	<br>

Our aim is a very simple and straight forward one: build long lasting partnerships by making our clients happy!

	</h6>
	
</div>
<br><br><br><br>
	<div class="row">
		<div class="col s12 m6">
			<div class="container">
				<em class="grey-text text-darken-1" style="line-height: 24px;">
					<br><br>
	Cars are my passion! Since I was 5 years old I was obsessed with them, learning the names of all the cars I could get my eyes on. 
<br><br>
Then my parents introduced me to car magazines…Oh my! Mix this with my love of businesses and entrepreneurship and here we are, starting House of Cars and trying to improve and become one of the top players on the Romanian car market. 
			</em>
			</div>

		</div>

		<div class="col s12 m4">
			<img class="materialboxed" width="650" src="/img_assets/ioanchirila.png">
		</div>
		<div class="col s12 m2">
			
		</div>
	</div>

		<div class="row">


		<div class="col s12 m4">
			<img class="materialboxed" width="650" src="/img_assets/andreitatar.png">
		</div>
		<div class="col s12 m2">
			
		</div>
				<div class="col s12 m6">
			<div class="container">
				<em class="grey-text text-darken-1" style="line-height: 24px;">
					<br><br>

With several years of experience in the auto remarketing industry, I decided to take things to another level: House of Cars Dealer SRL. The aim is to advance another operational methodology onto the European market, in which the client receives all relevant information, through which transparency is an uncompromising principle, all while giving the client control, from choice to delivery. Principles are our creed at House of Cars. Difficult or uncertain, pretentious or with limited budget, we can work together to find a solution for everyone. 
			</em>
			</div>

		</div>
	</div>

</div>
<!-- --------------------------------------- -->


<div class="container ">
	<div class="center">
       <a class="btn btn-large grey lighten-2 grey-text text-darken-4" href="/commission" title="">request a car</a>
	</div>
</div>
<div class="clearfix" style="height:2em;">
	
</div>
<% include ./partials/footer.ejs %>