<% include ./partials/header.ejs %>

<div class="container">
	<div class="center">
<br>
	<h4 class="grey-text text-darken-1">

House of Cars este o firma ce se ocupa cu achizitii si consultanta in domeniul auto si isi are sediul in Cluj-Napoca.  	</h4>
	<br>
	<h6  class="grey-text" style="line-height: 24px; font-weight: bold;">
		
		
		 Lucram impreuna cu clientii nostri si le oferim 
<a href="/services" title="">servicii</a>
		  personalizate ca acestia sa gaseasca exact ceea ce si-au propus. Din acest motiv lista noastra de servicii este in continua dezvoltare, cuprinzand servicii de la cautare masini la optiuni de finantare atat pentru persoane fizice cat si pentru persoane juridice.		<br>
	<br>

Care este scopul nostru? E simplu: dorim sa creem relatii de lunga durata facand clientii nostrii fericiti!

	</h6>
	
</div>
<br><br><br><br>
	<div class="row">
		<div class="col s12 m6">
			<div class="container">
				<em class="grey-text text-darken-1" style="line-height: 24px;">
					<br><br>


Masinile sunt pasiunea mea! Inca de la varsta de 5 ani am fost complet obsedat de ele, avand o dorinta aprinsa a le afla numele si a sti cat mai multe despre ele.
<br><br>
 La scurt timp dupa parintii mei m-au introdus revistelor auto…Obsesia prinde aripi! Ceva mai tarziu apare o noua pasiune si anume pasiunea antreprenoriatului. A durat ceva pana am adunat 1 cu 1 si am imbinat cele doua pasiuni in ceea ce acum va prezentam ca si House of Cars. Prin HOC vrem sa ajungem unul dintre jucatorii de top de pe piata auto din Romania.
			</em>
			</div>

		</div>

		<div class="col s12 m4">
			<img class="materialboxed" width="650" src="/img_assets/ioanchirila.png">
		</div>
		<div class="col s12 m2">
			
		</div>
	</div>

		<div class="row">


		<div class="col s12 m4">
			<img class="materialboxed" width="650" src="/img_assets/andreitatar.png">
		</div>
		<div class="col s12 m2">
			
		</div>
				<div class="col s12 m6">
			<div class="container">
				<em class="grey-text text-darken-1" style="line-height: 24px;">
					<br><br>

Dupa mai multi ani de activare in domeniu auto de remarketing, am decis sa duc totul la un alt nivel: House of Cars Dealer SRL. Prin aceasta firma doresc sa aduc in piata roamaneasca si europeana un mod diferit de operare, in care clientul primeste toate infromatiile, unde transparenta este un principiu care nu suporta concesii si in acelasi timp clientul detine controlul din momentul alegerii pana la livrare. Principiile sunt crezul nostru la House of Cars Dealer SRL. Dificil sau nehotarat, pretentios sau cu un buget limitat, mereu vom gasi o solutie pentru oricine.

			</em>
			</div>

		</div>
	</div>

</div>
<!-- --------------------------------------- -->


<div class="container ">
	<div class="center">
       <a class="btn btn-large grey lighten-2 grey-text text-darken-4" href="/commission" title="">Comanda Acum</a>
	</div>
</div>
<div class="clearfix" style="height:2em;">
	
</div>
<% include ./partials/footer.ejs %>
