<% include ./partials/header.ejs %>

<div class="container">
	<div class="center">
		<h4 class="flow-text grey-text text-darken-2">
			Whatever your needs may be, please feel free to contact us  and together we will see how we may satisfy them. Should the service you require not be on this list, if it is related to the automobile industry, please drop us a mesage or call. 
		</h4>
	</div>
</div>

<div class="container">
	<br>
	<div class="row">
		<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			  <i class="medium material-icons">search</i>
			<h6>REQUEST</h6>
			<p> &nbsp;&nbsp; No matter what your needs are we can find the exact car to fit them. The only variable is time. Based on the infomation you provide us we begin the search for the best suited car/cars for you/your company.</p>
		</div>
				<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
					  <i class="medium material-icons">create_new_folder</i>
			<h6>LEASING</h6>
			<p>&nbsp;&nbsp;We offer leasing options through our partner for both new or second hand cars. This makes it easier for you or your company to access the car/cars that you require. Use the cash at hand to give an advance on your purchse allowing you to choose a newer model or even a new car, as the case may be.</p>
		</div>
				<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
					  <i class="medium material-icons">time_to_leave</i>
			<h6>NEW CARS</h6>
			<p>&nbsp;&nbsp;Although we started as a purely second hand car dealership we now offer the posibility to acquire, through our leasing services, new cars.</p>
			
		</div>
	</div>
	<!-- --------------------- -->
	<div class="row">
		<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			 <i class="medium material-icons">thumb_up</i>
			<h6>SECOND HAND CARS</h6>
			<p>This is our main focus, finding the best suited second hand cars on the market for you. Getting the best deal out there for the model and spec you have requested. We can deliver this to you through outright acquisition or through our leasing program.</p>
		</div>
			<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			 <i class="medium material-icons">delete_sweep</i>
			<h6>WRECKS</h6>
			<p>For those looking for a repair job, a fixer upper project or in need of something to put together we also offer the option of car wreck acquisition. There is no leasing option for this service.</p>
		</div>
			<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			 <i class="medium material-icons">filter_list</i>
				<h6>CAR PARTS</h6>
				<P>We offer the option of car parts acquisition, either OEM or original from the manufacturer. This services is for large bulk orders or our current clients.</P>
		</div>
	</div>

	<!-- -------------------- -->
	<div class="row">
		<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			 <i class="medium material-icons">add_box</i>
				<h6>SERVICE</h6>
				<P>Coming soon.
For now we have partnerships with a few shops we feel provide a quality service.</P>
		</div>
		<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			 <i class="medium material-icons">apps</i>
				<h6>FLEETS</h6>
				<p>Whoever said that a fleet has to be made up of boring cars has another thing coming?
For business large and small we offer the option of acquiring car fleets through our leasing services. These can be second hand cars (ex: for smaller companies) or new cars, they can be the same car (make, model, type) or one of each for how many employees you have. As is the case with all our services this is a bespoke service, so we expect most varied requests.</p>
		</div>
		<div class="col s12 m4 l4 center blue-grey-text text-darken-4">
			 <i class="medium material-icons">contact_phone</i>
				<h6>B2B</h6>
				<P>We provide consultancy services for businesses as well as give them access to the above services. If you are a company selling second hand cars, an autohaus or anything in between and you would like to access any of the above services please contact us.</P>
		</div>
	</div>
	
</div>

<div class="container ">
	<div class="center">
       <a class="btn btn-large grey lighten-2 grey-text text-darken-4" href="/commission" title="">request a car</a>
	</div>
</div>

<div class="clearfix" style="height:2em;">
	
</div>


<% include ./partials/footer.ejs %>